
<h1>Kingsley Test Assignment For Neal Lowrey</h1>
<h4>(404) 514-3668</h4>
<h4>lowrey.neal@gmail.com</h4>

<textarea id="quote" style="width:900px;min-width:900px;height:450px">
     "Far out in the uncharted backwaters of the unfashionable end of the western spiral arm of the Galaxy lies a small unregarded yellow sun. Orbiting this at a distance of roughly ninety-two million miles is an utterly insignificant little blue green planet whose ape-descended life  are so amazingly primitive that they still think digital watches are a pretty neat idea"  
</textarea>
<input type="button" id="btnClear" value="clear" onclick="clearQuote()"/>
<input type="button" id="btnParser" value="submit" onclick="parseQuote()" />
<div id="results"></div>
<script>
    function clearQuote() {
        //extra feature, no charge!
        document.getElementById("quote").textContent = "";
    }

    function parseQuote() {

        var quote = "quote=" + document.getElementById("quote").textContent;


        $.post("/Kingsley/ParseQuote/", quote )
            .done(function (data) {
               //associative  arrays are evil trying to get a count 
               var uniqueCount = 0;
               var  outVal = '<br/><table>';
               for (var key in data.SortedCount) {
                   uniqueCount++;
                    outVal += '<tr><td>' + key + '</td><td>' + data.SortedCount[key] + '</td></tr>';
                }
                outVal += '</table>';

                outVal = "Total Words " + data.totalWords + " Total Unique words " + uniqueCount + outVal;
                // I counted by hand, only 60 words!

                $('#results').html(outVal);

                //total fail on quote, I would of guessed Robert Heinlein or H.Beam Piper, they have humor too.
        });
 
    }

    function gov() {

        
    }

</script>

